{% extends "base.html.twig" %}

{% block title %} API acrm {% endblock %}

{%  block body %}

    <div>
        Тестовые кнопули
        <a href="{{ path('get_token') }}">Get token</a>
    </div>


{% endblock %}
