{% extends 'base.html.twig' %}

{% block title %} Главная страничка {% endblock %}

{% block body %}
    <div> Hello world! Главная страница великой админки на статических шаблонизаторах!!!!</div>
{% endblock %}