<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}{% endblock %}
        {% block css %}{% endblock %}
    </title>
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascript %}{% endblock %}
</body>
</html>
